---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Publications</title>
</head>
<body>
  <!-- First Category -->
  <div class="publication">
    <h3>When Backdoors Speak: Understanding LLM Backdoor Attacks Through Model-Generated Explanations</h3>
    <p><strong>Huaizhi Ge</strong>, Yiming Li, Qifan Wang, Yongfeng Zhang, and Ruixiang Tang. Under Review at NAACL 2025</p>
<!--     <p><strong>Published:</strong> Journal of AI Research, 2024</p> -->
    <p>This paper introduces a novel method for understanding circuits in large language models.</p>
    <a href="https://arxiv.org/abs/2411.12701">Read More</a>
  </div>
  <div class="publication">
    <h3>How Well Can Knowledge Edit Methods Edit Perplexing Knowledge?</h3>
    <p><strong>Huaizhi Ge</strong>, Frank Rudzicz, and Zining Zhu. Under Review at ARR.</p>
<!--     <p><strong>Published:</strong> AI & Security Conference, 2023</p> -->
    <p>A study on backdoor attacks and their implications in AI models.</p>
    <a href="https://arxiv.org/abs/2406.17241">Read More</a>
  </div>

</body>
</html>







<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


